@model PaginatedList<Register>

@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";

}
<form method="post">
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Feedback
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.C_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.F_feedback)
                </td>
              

             
            </tr>
        }
    </tbody>


</table>

@{
    var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a action="View_reg" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-outline-danger @preDisabled">
    Previous
</a>
<a action="View_reg" asp-route-pageNumber="@(Model. PageIndex+1)" class="btn btn-outline-danger @nextDisabled">
    Next
</a>

